{% extends "layout_unbranded.html" %}

{% set pagetitle = "About this site" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}

{% block content %}

{% macro h2 ( str ) %}
    <h2 class="govuk-heading-l">{{ str }}</h2>
{% endmacro %}

{% macro h3 ( str ) %}
    <h3 class="govuk-heading-m">{{ str }}</h3>
{% endmacro %}

{% macro p ( str ) %}
    <p class="govuk-body">{{ str | safe }}</p>
{% endmacro %}

{% macro li ( str ) %}
    <li>{{ str }}</li>
{% endmacro %}

{% macro startlist () %}
    <ul class="govuk-list govuk-list--bullet">
{% endmacro %}

{% macro endlist () %}
    </ul>
{% endmacro %}

<!--

    {{ h2 ("Test heading 2") }}
    {{ h3 ("Test heading 3") }}
    {{ p ('Paragraph <a href="#">Blah</a> sdfaf') }}

    {{ startlist () }}
    {{ li ("List item") }}
    {{ li ("List item") }}
    {{ endlist () }}
-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ pagetitle }}</h1>

    <p class="govuk-body">This service estimates the number of people with disabilities who use a website. It  mainly uses percentages taken from the <a href="https://alphagov.github.io/accessibility-personas/" class="govuk-link">Government Digital Service (GDS) accessibility personas</a>.</p>

    <p class="govuk-body">It's intended as a prompt for discussion and thought. It's not an exact way of measuring anything about the people using your service.</p>

    <p class="govuk-body">Very small numbers of users may give unreliable estimates. Some services, particularly those aimed at disabled people, may have more disabled users.</p>

    <h2 class="govuk-heading-m">The percentages we use</h2>

    <p class="govuk-body">People who:</p>

    {{ startlist () }}
        {{ li ("wear glasses or contact lenses: " + glassesContactsAv + "%" ) }}
        {{ li ("have any disability: " + disabledTotalAv + "%" ) }}
        {{ li ("have literacy skills below level 1: " + readingLevel11YearsAv + "%" ) }}
        {{ li ("are deaf or hard of hearing: " + deafAv + "%" ) }}
        {{ li ("are dyslexic: " + dyslexiaAv + "%" ) }}
        {{ li ("have a colour vision deficiency: " + colourBlindnessAv + "%" ) }}
        {{ li ("are blind or partially sighted: " + blindAv + "%" ) }}
        {{ li ("are autistic: " + autisticAv + "%" ) }}
        {{ li ("are British Sign Language (BSL) users: " + bslNumAv + "%" ) }}
    {{ endlist () }}

    <p class="govuk-body">The results page links to the sources for these percentages.</p>

    <h2 class="govuk-heading-s">Image licencing</h2>

    <p class="govuk-body govuk-!-font-size-16">
      The ear and eye icons in the open graph image for this site are licensed under the Creative Commons Attribution 4.0 International license. The original icon artwork was used under the <a href="https://fontawesome.com/license" class="govuk-link">icon licence provided by Font Awesome</a>. Font Awesome does not endorse this site or use of the icons. Apart from the icons, you can use this information freely under the
      <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>.
    </p>


  </div>
</div>

{% endblock %}
