{% extends "layout_unbranded.html" %}

{% set pagetitle = "Glasses and contact lenses statistics" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ pagetitle }}</h1>

    <p class="govuk-body">74% of people in the UK either wear corrective eyewear or have had laser eye surgery to help them see better. More women than men wear corrective eyewear.</p>

    <p class="govuk-body">69% of people in the UK wear glasses. There has been a rise in the number of people wearing glasses some or all of the time (up from 62% in 2011).</p>

    <p class="govuk-body">13% of people in the UK wear contact lenses.</p>

    <p class="govuk-body"> 5% of people over 40 said they had not been for a sight test for at least 10 years or could not recall when they last went. This rises to 11% of ethnic minorities, a concern as this group is at increased risk of particular eye conditions.</p>

    <h2 class="govuk-heading-m">Source of this information</h2>

    <p class="govuk-body">This information is taken from a survey called ‘Britain’s Eye Health in Focus 2012’ published by The College of Optometrists. The survey was conducted by YouGov.</p>

    <p class="govuk-body"><a class="govuk-link" href="https://wcb-ccd.org.uk/library/beh_report_final_(1).pdf">Britain’s Eye Health in Focus report (pdf)</a></p>









  </div>
</div>

{% endblock %}
