{% extends "layout_unbranded.html" %}

{% set pagetitle = "Estimate how many people using your service are disabled" %}

{% block pageTitle %}
  {{ errorTitle }}{{ pagetitle }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

    {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errorMessage.text,
              href: "#peopletotal"
            }
          ]
        }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">{{ pagetitle }}</h1>

<!--
Turn off HTML5 validation with novalidate to prevent browsers from validating the pattern attribute.
inputmode, pattern and spellcheck below help the user to enter a whole number and bring up the numeric keypad on a mobile device
-->

    <form action="/results" method="get" class="form" novalidate>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Total number of people using your service",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        inputmode: "numeric",
        pattern: "[0-9]*",
        spellcheck: false,
        classes: "govuk-input--width-10",
        id: "peopletotal",
        name: "peopletotal",
        value: data['peopletotal'],
        errorMessage: errorMessage,
        autocomplete: "off"
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}


    </form>

  </div>
</div>

{% endblock %}
