{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/how-many.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet">

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}

  <meta property="og:title" content="Estimate how many people using your website might be disabled" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://how-many.herokuapp.com/public/images/open-graph-image.png" />
  <meta property="og:url" content="https://how-many.herokuapp.com/" />

{% endblock %}

{% block skipLink %}{% endblock %}{# REMOVE SKIP LINKS AS THERE IS NOTHING TO SKIP #}

{% block header %}{% endblock %}

{% block footer %}

<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow" role="navigation">
        <h2 class="govuk-visually-hidden">Site links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/">
              Home page
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/accessibility">
              Accessibility statement
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/about">
              About this site
            </a>
          </li>
        </ul>

        <span class="govuk-footer__licence-description">
          Use this information freely under the
          <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>.
        </span>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
